<!--
file: services.ejs
author: Hardip Patel (301230213)
date: June 3, 2022
--> 
<%- include('./Partials/header.ejs'); %>
<div class="wrapper-container">
    <%- include('./Partials/navbar.ejs'); %>
    <section id="experience" class="experience-section">
        <p style="margin-top: 80px; margin-bottom: 50px;">I can work on the following technologies</p>
        <h2>Services</h2>
        <div class="flex-container">
            <!-- service left div -->
            <div class="exp-left">
                <h3>Web Design and Development</h3>
                <p>I can design & develop beautiful websites using programming languages such as 
                   JAVA, .Net using frameworks like Spring & SpringBoot</p>
            </div>
            <!-- service right div -->
            <div class="exp-right">
                <h3>Database Design</h3>
                <p>I have worked more than two years developing databases in complex projects. My expertises 
                    are in SQL server and Mongo DB. </p>
            </div>
        </div>
    </section>
</div>
<%- include('./Partials/footer.ejs'); %>